body{
    background-color: aliceblue;
    margin: 0%;
    padding: 0%;
}
.header{
    border-bottom: double;
    margin: 0%;
    padding: 0%;
}
.add{
    text-align-last:  center;
    vertical-align: top;
    cursor: pointer;
    padding: 60px;
    margin: 20px;
}
.add:hover{
    color:blue
}

p{
    text-align: center;
    font-size: 25px;
}
h1{
    text-align: center;
}
.container{
    text-align: center;
    padding: 10px;
}
